@model NewsResource

@{
    ViewData["Title"] = "Update Article";
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
</div>

<br>

<div class="border container" style="padding: 30px;">
    <form asp-action="Update" method="POST">
        <input type="hidden" name="id" value="@Model.Id">
        <div class="form-group">
            <label asp-for="Title" for="exampleFormControl1">Title</label>
            <input asp-for="Title" class="form-control" id="exampleFormControlInput1" value="@Model.Title">
        </div>

        <div class="form-group">
            <label asp-for="ArticleType" for="exampleFormControl1">Article Type (News/Resource)</label>
            <input asp-for="ArticleType" class="form-control" id="exampleFormControlInput1" value="@Model.ArticleType">
        </div>

        <div class="form-group">
            <label asp-for="Source" for="exampleFormControl1">Source</label>
            <input asp-for="Source" class="form-control" id="exampleFormControlInput1" value="@Model.Source"> 
        </div>

        <div class="form-group">
            <label asp-for="URL" for="exampleFormControl1">URL</label>
            <input asp-for="URL" class="form-control" id="exampleFormControlInput1" value="@Model.URL">
        </div>
        <br><br>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    Update
                </button>
            </div>
            <div class="col-3">
                <a href="javascript: history.go(-1)" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>
