@model NewsResourceViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" href="javascript: history.go(-1)">Go Back</a>
    </div>
</div>

<br>

<div class="panel panel-default article-container">

    @foreach (var item in Model.NewsResourceList)
    {
        <div class="admin-btns">
            <a asp-action="Edit" asp-route-id="@item.Id" class="fa fa-edit edit"></a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="fa fa-trash-alt delete"></a>
        </div>
        <a href="@item.URL" target="_blank">
            <div class="article">
                <h4>@item.Title</h4>
                <span>(@item.Source)</span>
            </div>
        </a>
    }

</div>
