@model NewsResourceViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">@ViewData["Title"]</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" href="javascript: history.go(-1)">Go Back</a>
    </div>
</div>

<br>

<div class="panel panel-default todo-panel">

  <table class="table table-hover">
      <thead>
          <tr>
              <td><strong>Title</strong></td>
              <td><strong>Source</strong></td>
              <td><strong>URL</strong></td>
              <td></td>
          </tr>
      </thead>

      @foreach (var item in Model.NewsResourceList)
      {
          <tr>
              <td>@item.Title</td>
              <td>@item.Source</td>
              <td>@item.URL</td>
              <td>
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
              </td>
          </tr>
      }
  </table>

</div>